.read-link {
  color: #AAA;
}

.logout-button {
  border-width: medium;
  background-color: #EEE;
  border-radius: 5px;
}

.mark-read {
  border-width: medium;
  background-color: #EEE;
  color: red;
  border-radius: 5px;
}

.mark-unread {
  border-width: medium;
  background-color: #EEE;
  color: green;
  border-radius: 5px;
}

.edit-link {
  border-width: medium;
  background-color: #EEE;
  color: blue;
  border-radius: 5px;
}
