.big-title {
  text-align: center;
}

.login-button {
  border-width: medium;
  background-color: #EEE;
  border-radius: 5px;
  width: 20%;
  color: green;
  font-size: 15px;
}

.signup-button {
  border-width: medium;
  background-color: #EEE;
  border-radius: 5px;
  width: 20%;
  color: red;
  font-size: 15px;
}

.first-buttons {
  margin-left: 550px;
}

.flash {
  background-color: yellow;
}

.login-button2 {
  border-width: medium;
  background-color: #EEE;
  border-radius: 5px;
  color: green;
}

.signup-button2 {
  border-width: medium;
  background-color: #EEE;
  border-radius: 5px;
  color: red;
}


.read-link {
  color: #AAA;
}

.logout-button {
  border-width: medium;
  background-color: #EEE;
  border-radius: 5px;
}

.mark-read {
  border-width: medium;
  background-color: #EEE;
  color: red;
  border-radius: 5px;
}

.mark-unread {
  border-width: medium;
  background-color: #EEE;
  color: green;
  border-radius: 5px;
}

.edit-link {
  border-width: medium;
  background-color: #EEE;
  color: blue;
  border-radius: 5px;
}
